.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.project-body {
  display: flex;
  flex-direction: column;
}
.project-body > p {
  padding: 15px 0;
}

.project-link {
	height: 50px;
	width: 160px;
	border-radius: 5px;
	background-color: #3C87CD;
	border: none;
	color: white;
	font-size: 13px;
	font-weight:500;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Roboto';
	letter-spacing: 2px;
	transition: background-color 200ms ease-in;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-link:hover {
	background-color: #2E72B2;
}