.project-wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: row;
  flex-grow: 1;
  margin-top: 25px;
}
.project-body {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-left: 25px;
  overflow-x: hidden;
  max-width: 800px;
  max-height: 800px;
  position: relative;
  /* top: 25px; */
}
.project-body > p {
  padding: 15px 0;
}

.project-link {
	height: 50px;
	width: 160px;
	font-size: 13px;
	font-weight:500;
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'Roboto';
	letter-spacing: 2px;
  margin-top: 20px;
}

.edit-form-wrapper .edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 50px auto;
}

.edit-form-wrapper h1 {
  text-align: center;
  margin-top: 50px;
}

.edit-form-wrapper .edit-form input {
  height: 30px;
}

.edit-form-wrapper .MuiFormControl-root {
  margin-bottom: 20px;
}
.error-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.error-wrapper .error-message {
  color: #E70E02;
  font-weight: 700;
}

.error-wrapper .error-img {
  padding: 20px 0;
}